[Unit]
Description=Stats Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/stats-bot
EnvironmentFile=/opt/stats-bot/.env
ExecStart=/opt/stats-bot/.venv/bin/python /opt/stats-bot/src/main.py
Restart=always
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
