[Unit]
Description=Stats Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/kartiksakhuja02/Documents/Zero-Remorse-Stats-Bot
EnvironmentFile=/home/kartiksakhuja02/Documents/Zero-Remorse-Stats-Bot/.env
ExecStart=/home/kartiksakhuja02/Documents/Zero-Remorse-Stats-Bot/.venv/bin/python /home/kartiksakhuja02/Documents/Zero-Remorse-Stats-Bot/src/main.py
Restart=always
RestartSec=10
User=kartiksakhuja02

[Install]
WantedBy=multi-user.target
